/*MDL OVERRIDE BOF*/
.mdl-layout__header {
    justify-content: center;
}

.mdl-navigation {
    width: 100%;
}

header {
    position: absolute;
    bottom: 0;
}

/*Piilota navigaatioelementtien tekstit kun näytön leveys alle 512.*/
@media screen and (max-width: 512px) {
    .mdl-navigation__description {
        display: none;
    }
}

.mdl-layout__header-row {
    padding: 0px 20px 0px 20px;
}
/*MDL OVERRIDE EOF*/

/*Grid*/
.foli-grid {
    max-width: 900px;
    width: 100%;
}

/*Navigation*/
.mdl-textfield__input {
    color: #000;
}

.foli-navigation a {
    color: #3F51B5;
    display: block;
}

.foli-navigation__items button {
    width: 33%;
    height: 100%;
    color: #FFF;
}

.foli-background--white {
    background-color: #FFF;
}

.foli-navigaatio__searchbox {
    width: 90%;
}

.foli-navigaatio__myplace {
    width: 10%;
    text-align: center;
    color: black;
}
