/*MDL OVERRIDE BOF*/
.mdl-layout__header {
    justify-content: center;
}

.mdl-navigation {
    width: 100%;
}

header {
    position: absolute;
    bottom: 0;
}

/*Piilota navigaatioelementtien tekstit kun näytön leveys alle 512.*/
@media screen and (max-width: 512px) {
    .mdl-navigation__description {
        display: none;
    }
}

.mdl-layout__header-row {
    padding: 0px 20px 0px 20px;
}

.mdl-list__item-avatar,
.mdl-list__item-avatar.material-icons {
    border-radius: 0;
}

.mdl-snackbar {
    bottom: 75px;
}
/*MDL OVERRIDE EOF*/

/*Grid*/
.foli-grid {
    max-width: 900px;
    width: 100%;
}

/*Navigation*/
.mdl-textfield__input {
    color: #000;
}

.foli-navigation a {
    color: #3F51B5;
    display: block;
}

.foli-navigation__items button {
    width: 33%;
    height: 100%;
    color: #FFF;
}

.foli-background--white {
    background-color: #FFF;
}

.foli-navigaatio__searchbox {
    width: 90%;
}

.foli-navigaatio__myplace {
    width: 10%;
    text-align: center;
    color: black;
}

.stop-listing {
    overflow-y: scroll;
}

.mdl-padding--1em {
    padding-left: 1em;
}

.foli-busline__tag {
    display: inline-block;
    padding: 5px;
    margin-bottom: 3px;
    margin-left: 3px;
    background-color: #3F51B5;
    font-weight: bold;
    color: white;
}

/*GOOGLE MAPS*/
@media screen and (max-width: 992px) {
    .sebm-google-map-container,
    .stop-listing {
        height: calc(100vh - 56px);
    }
}
@media screen and (min-width: 992px) {
    .sebm-google-map-container,
    .stop-listing {
        height: calc(100vh - 64px);
    }
}