body::before {
    background-size: cover;
    background-attachment: fixed;
    content: '';
    will-change: transform;
    z-index: -1;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    position: fixed;
}

body::before {
    background-image: url('/images/background.jpg');
}

/*MDL OVERRIDE BOF*/
.mdl-layout__header {
    background-color: #FFF;
    justify-content: center;
}

.mdl-layout__header-row .mdl-navigation__link {
    color: #000;
}
/*MDL OVERRIDE EOF*/

/*Grid*/
.foli-grid {
    max-width: 900px;
    width: 100%;
}

/*Navigation*/
.foli-navigation {
    height: 15vh;
    min-height: 100px;
    color: black;
}

.foli-navigation__items button {
    width: 200px;
    height: 100%
}

