doctype html
html
    head
        title= title
        link(rel='stylesheet', href='/stylesheets/material.min.css')
        link(rel='stylesheet', href='/stylesheets/style.css')

        link(rel='stylesheet', href='/static/ng2-material/dist/ng2-material.css')
        link(rel='stylesheet', href='/static/ng2-material/dist/font.css')


        //Webfonts
        link(rel='stylesheet', href='https://fonts.googleapis.com/icon?family=Material+Icons')

        script(src='/javascripts/material.min.js')

        base(href="/")

        meta(name='viewport' content='width=device-width, initial-scale=1.0')

        // 1. Load libraries
        // IE required polyfills, in this exact order
        script(src="/static/es6-shim/es6-shim.min.js")
        script(src="/static/systemjs/dist/system-polyfills.js")
        script(src="/static/angular2/es6/dev/src/testing/shims_for_IE.js")

        script(src="/static/angular2/bundles/angular2-polyfills.js")
        script(src="/static/systemjs/dist/system.src.js")
        script(src="/static/rxjs/bundles/Rx.js")
        script(src="/static/angular2/bundles/angular2.dev.js")

        script(src="/static/angular2/bundles/router.dev.js")
        script(src="/static/angular2/bundles/http.dev.js")

        //GOOGLE MAPS
        script(src="/static/angular2-google-maps/bundles/angular2-google-maps.js")

        script.
            System.config({
                packages: {
                    app: {
                        format: 'register',
                        defaultExtension: 'js'
                    },
                    'angular2-google-maps': {
                        defaultExtension: 'js'
                    }
                },
                map: {
                    'angular2-google-maps': 'static/angular2-google-maps'
                }
            });

            System.import('app/main')
            .then(null, console.error.bind(console));

    body
        my-app(style="display: block; height: 100vh;")


