doctype html
html
    head
        title= title
        link(rel='stylesheet', href='/stylesheets/material.min.css')
        link(rel='stylesheet', href='/stylesheets/style.css')

        //Webfonts
        link(rel='stylesheet', href='https://fonts.googleapis.com/icon?family=Material+Icons')

        script(src='/javascripts/material.min.js')

        meta(name='viewport' content='width=device-width, initial-scale=1.0')

    body
        div.mdl-layout.mdl-js-layout

            main.mdl-layout__content
                block content

            nav.mdl-layout__header
                include navigation


