header.mdl-layout__header.foli-navigation.foli-background--white
    div.mdl-layout__header-row

        div.mdl-layout-spacer

        nav.mdl-navigation.foli-navigation__items
            button.mdl-button.mdl-js-button
                i.material-icons directions_bus
                span(style='padding-left: 10px;') aikataulut
            button.mdl-button.mdl-js-button
                i.material-icons star
                span(style='padding-left: 10px;') suosikit
            button.mdl-button.mdl-js-button
                i.material-icons info
                span(style='padding-left: 10px;') Info
        div.mdl-layout-spacer